<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ret sogn</title>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</head>
<body style="font-family: 'Calibri Light',serif; background-color: #ebf4f0">
<div class="container">
    <div class="row">

        <div class="col-md-10 col-sm">
            <h1>Ret sogn</h1>
            <a href="/">
                <input type="button" class="btn btn-primary" value="Sogne">
            </a>
            <br/><br/>
            <form>
                <div class="mb-3">
                    <label for="sognekode" class="form-label">Sognekode</label>
                    <input class="form-control" id="sognekode">
                </div>

                <div class="mb-3">
                    <label for="sogn" class="form-label">Sogn</label>
                    <input class="form-control" id="sogn">
                </div>
                <div class="mb-3">
                    <label for="kommune" class="form-label">Kommune</label>
                    <select class="form-control" id="kommune"></select>
                </div>
                <div class="mb-3">
                    <label for="incidens" class="form-label">Incidens</label>
                    <input class="form-control" required id="incidens">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status af nedlukning</label>
                    <select class="form-control" id="status"></select>
                </div>
                <div class="mb-3">
                    <label for="dato" class="form-label">Påbegyndelsesdato af nedlukning</label><br>
                    <input type="date" min="2021-06-01" max="2099-01-01" id="dato"><br>
                </div>
                <button type="button" class="btn btn-primary" id="edit">Opdater</button>
            </form>
            <p id="err" style="color: red"></p>
        </div>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../javascript/editsogn.js"></script>
</html>