<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Opret nyt sogn</title>
    <link href="styles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>

<body style="font-family: 'Calibri Light',serif; background-color: #ebf4f0">
<div class="container">
    <div class="row">

        <div class="col-md-10 col-sm">
            <h1>Opret nyt sogn</h1>
            <a href="/">
                <input type="button" class="btn btn-primary" value="Sogne">
            </a>
            <br/><br/>
            <form>
                <div class="mb-3">
                    <label for="sognekode" class="form-label">Sognekode</label>
                    <input class="form-control" id="sognekode">
                </div>

                <div class="mb-3">
                    <label for="sogn" class="form-label">Sogn</label>
                    <input class="form-control" id="sogn">
                </div>
                <div class="mb-3">
                    <label for="kommune" class="form-label">Kommune</label>
                    <select class="form-control" id="kommune"></select>
                </div>
                <div class="mb-3">
                    <label for="incidens" class="form-label">Incidens</label>
                    <input class="form-control" required id="incidens">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status af nedlukning</label>
                    <select class="form-control" id="status"></select>
                </div>
                <div class="mb-3">
                    <label for="dato" class="form-label">Påbegyndelsesdato af nedlukning</label><br>
                    <input type="date" min="2021-06-01" max="2099-01-01" id="dato"><br>
                </div>
                <button type="button" class="btn btn-primary" id="add-event">Opret</button>
            </form>
            <p id="err" style="color: red"></p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../javascript/newsogn.js"></script>

</body>
</html>